<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>top bar</title>

</head>
<body>   

       
  <nav class="mb-4 navbar navbar-expand-lg navbar-dark b1" th:fragment="index_top_bar">
                <a class="navbar-brand font-bold" th:href="@{/}">Small One</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
                    <ul class="navbar-nav ml-auto">
                        
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/public/login}"><i class="fas fa-sign-in-alt"></i> Войти</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/public/registration}"><i class="fas fa-id-badge"></i> Регистрация</a>
                        </li>
                    </ul>
                </div>
            </nav> 
  

</body>
</html>