<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

</head>
<body>
	<nav id="sidebar" th:fragment="basket_fragment">
		<div class="sidebar-header">
			<h3>Корзина 
				<a class="btn " id="infoAboutPage">
					<i class="fas fa-info-circle"></i> 
				</a>
			</h3> 
		</div>
		<ul class="list-unstyled ">
			<li>
				<a>Сумма заказа: <h4 id="topPrice">0 грн</h4></a>
				<div class="d-inline p-5">
					<button class="btn btn-success" onclick="conductSale()">
						<i class="fas fa-shopping-basket"></i> Оплатить	 
					</button>
				</div>
				<div class="line-mini">
				</div>
			</li>
			<li>
			<ol id="busketProductList" class="height-limiter">
			</ol>
			</li>
			<li id="hiddenFoter" >
				<div class="line-mini">
				</div>
				<a>Сумма заказа:  <h4 id="bottomPrice">0 грн</h4></a>
				<div class="d-inline p-5">
					<button class="btn btn-success" onclick="conductSale()">
						<i class="fas fa-shopping-basket"></i> Оплатить	 
					</button>
				</div>
			</li>
		</ul>

		

		<!-- jQuery CDN - Slim version (=without AJAX) -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
		<!-- Popper.JS -->
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
		<!-- Bootstrap JS -->
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

	</nav>



</body>
</html>